<div class="oat-radio-list oat-element" *ngIf="isReady" data-id="{{id}}">
    <div class="oat-radio {{choice == defaultChoice ? 'active' : ''}}" *ngFor="let choice of items">                
        <label for="{{ id + '_' + choice }}">{{choice}}</label>    
        <input type="radio"
            id="{{ id + '_' + choice }}"
            name="{{name}}"
            [value]="choice"
            [(ngModel)]="defaultChoice"
            (ngModelChange)="select($event)" />          
    </div>
</div>

