<div class="oat-list oat-element" *ngIf="isReady" data-id="{{id}}">
    <header *ngIf="showHeader">
        <div *ngFor="let key of keys">
            {{key}}
        </div>
    </header>
    <ul>
        <li *ngFor="let item of items">
            <div *ngFor="let key of keys">
                {{item[key]}}
            </div>
        </li>
    </ul>
</div>