/* Colours */
$white: #F8F8FA;
$green: #28c0a5;
$deep-dark: #141A2A;
$dark: #181F31;
$soft-grey: #f8f9fb;
$grey: #8e94a0;
$side-padding: 50px;
$padding-left: 15px;
$text-font: 14.5px;

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
ul, ol { list-style-type: none; padding: 0; margin: 0 }

.light { font-weight: 300}

/* Nav bar styles */
.oat-navbar {
    position: fixed;
    width: 100%;
    z-index: 1; 

    .upper {
        background-color: $deep-dark;
        color: $green;
        height: 60px;
        display: flex;
        align-items: center;
        padding: 0px $side-padding;
        box-sizing: border-box;
    }
    .lower {
        background-color: $dark;
        color: $soft-grey;
        height: 160px;
        display: flex;
        align-items: center;
        padding: 0px $side-padding;
        box-sizing: border-box;
        font-size: 30px;

        span {
            margin-right: 10px;
        }
    }
}

/* Views */
.oat-view {
    position: relative;
    top: 220px;
    padding: 40px $side-padding;
    z-index: 0;
    display: flex;
    background-color: #e3e6ea;

    app-user-list {
        width: 100%;
    }
}

/* Elements */

/* Radio List */
.oat-radio-list {
    display: flex;
    font-size: $text-font;
    padding: 10px 0px 4px;
}
/* Radio Button */
.oat-radio {
    position: relative;
    margin-left: 16px;
    cursor: pointer;
    border-radius: 50px;        
    padding: 6px 24px;          
    border-style: solid;
    border-width: 1px;          
    border-color: $grey;
    color : $grey;     

    &:first-child {
        margin-left: 0px;
    }    
    
    &.active, 
    &:hover {        
        border-color: $green;
        color : $green;
    }        

    input {
        position: absolute;
        opacity: 0;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        margin: 0;

        cursor: pointer;
    }
}

/* Lists */
.oat-list {
    width: 100%;
    font-size: $text-font;

    header {        
        display: flex;
        width: 100%;
        padding: 30px 38px 15px;
        box-sizing: border-box;
        color: $grey;
        text-transform: uppercase;
        font-size: 10.5px;
        letter-spacing: 2px;

        div {
            padding-left: $padding-left;
            min-width: 100px;
            &:first-child {
                padding-left: 0px;
            }
        }
    }
    li {
        display: flex;
        background-color: $white;
        margin-top: 5px;                     
        padding: 15px 38px 15px;
        box-sizing: border-box;  
        div {
            text-transform: capitalize;
            padding-left: $padding-left;
            min-width: 100px;
            &:first-child {
                padding-left: 0px;
            }
        }
    }
}